.settings
build
.classpath
.project
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
ManuScript.iml
*.xml___jb_tmp___
.idea/encodings.xml
*.class
build/classes/com/ide/Driver.class
build/classes/com/ide/Frame.class
build/classes/com/ide/Panel$1.class
.classpath
build/classes/com/ide/Panel.class
.idea/uiDesigner.xml
.idea/gradle.xml
*.class
autosave.txt
*.xml